html {
    height: 100%;
}
body {
    font-family: "iranyekan", "Itim", sans-serif;
    background: #fff;
    padding: 1rem;
    height: 100%;
    font-size: 0.8rem;
}
.btn,
input {
    font-size: 0.8rem;
}
.body-inner {
    background: #ebf8fc;
    border-radius: 35px;
    min-height: 100%;
    padding: 2rem 3rem;
}
.header {
    color: #5c7eab;
}
.header-search i {
    font-size: 1.2rem;
    margin-left: 0.3rem;
}
.fc {
    display: flex;
    align-items: center;
}
.header-item {
    flex-direction: column;
    justify-content: center;
}

.header-item i {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}
.header-faq {
    background: #fff;
    margin-top: -3rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 9px 0 rgba(82, 140, 164, 0.2);
}
.faq-search {
    border-color: #b9b9b9;
    margin-top: 0.5rem;
}
.form-control::placeholder {
    color: #b9b9b9;
    font-size: 0.8rem;
}
.header-faq i {
    font-size: 1.2rem;
}
.service {
    margin-top: 4rem;
    color: #f3f3f3;
}
.service .banner {
    background: rgb(28, 41, 58);
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    height: 100%;
}
.service .banner .title {
    color: #a5def3;
    text-shadow: 0 0 11px rgba(165, 222, 243, 0.5);
    font-size: 1.5rem;
    padding: 0.7rem 0;
}
.service .banner .desc {
    margin: 0.5rem 0 1.6rem 1rem;
    line-height: 2rem;
}
.btn-red {
    background: #ed572f;
    float: left;
    color: #fff;
    border-radius: 0.5rem;
}
.crypto .title {
    color: #4a4a4a;
}
.btn-crypto {
    border: 1px solid #d6418f;
    background: transparent;
    color: #d6418f;
    font-size: 0.7rem;
    padding: 3px 10px;
    border-radius: 10px;
}
.text-left {
    text-align: left;
}
.chart {
    direction: ltr;
    width: 100%;
    background: #fff;
    border-radius: 25px;
    margin: 5px;
}
text {
    color: #369;
}
.chart svg {
    height: 200px;
}
.axis path,
.axis line {
    fill: none;
    stroke: rgba(145, 145, 145, 0.425);
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.grid {
    fill: none;
    shape-rendering: crispEdges;
    stroke: lightgrey;
    opacity: 0.7;
    stroke-width: 1px;
}
.segmentText {
    cursor: pointer;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 15px;
    padding: 5px;
    font: 12px sans-serif;
    background: #ddd;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
}

.coins {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 90px;
}
.flickity-button flickity-prev-next-button next {
    left: -30px;
}
.flickity-rtl .flickity-prev-next-button.previous {
    right: -30px;
}
.coin-card {
    width: 100%;
    position: relative;
    height: 100%;
    padding: 16px 18px 24px 19px;
}
.is-selected .coin-card {
    background-color: #fff;
    box-shadow: 2px 2px 10px 0 rgba(82, 140, 164, 0.22);
    border-radius: 6px;
}
.courses {
    margin-top: 30px;
    margin-bottom: 60px;
}
.course-item {
    width: 250px;
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom: 30px;
    float: right;
}

.course-thumbnail {
    text-align: center;
}
.course-thumbnail img {
    height: 50px;
}
.course-heading {
    font-weight: 500;
    font-size: 12px;
    color: #aab2bd;
    text-transform: uppercase;
    text-align: center;
}
.course-info {
    padding: 7%;
    min-height: 140px;
}
.course-topic {
    font-weight: 500;
    color: #aab2bd;
    font-size: 12px;
    margin-bottom: 5px;
}
.course-topic.photo {
    color: #673ab7;
}
.course-topic.webdesign {
    color: #009688;
}
.course-topic.computer {
    color: #2196f3;
}
.course-topic.code {
    color: #4caf50;
}
.course-topic.design {
    color: #f44336;
}
.course-title {
    font-weight: 500;
    font-size: 14px;
    margin: 0 0 30%;
}
.course-meta {
    color: #aab2bd;
    font-weight: 300;
    font-size: 11px;
    position: absolute;
    left: 7%;
    bottom: 7%;
}
.course-duration:before {
    display: inline-block;
    content: "•";
    padding-right: 5px;
    padding-left: 5px;
}
.course-caption {
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 18px;
    color: #aab2bd;
}
